h1 Welcome to Harp.
h3 This is yours to own. Enjoy.
p Autem dolorem minus doloribus numquam ut sit rerum. Aut omnis pariatur reiciendis assumenda voluptas facere dolores. Maxime molestias fuga mollitia qui. Consequatur architecto iure fugiat in aut in est.
p Magni quod amet quaerat tenetur. Ratione repellat praesentium eius accusamus ad autem omnis hic. Harum fuga aut perferendis consequatur excepturi sunt quo. Est qui eum perspiciatis ipsa est culpa veritatis. Praesentium repudiandae consequatur tempora perferendis explicabo optio cupiditate.
a.btn.btn-primary(href="#") Primary button
a.btn.btn-primary-outline(href="#") Primary outline button
a.btn.btn-grey(href="#") Grey button
a.btn.btn-grey-outline(href="#") Grey button
a(href="#") Normal link