.btn
  display: inline-block
  border: 0px
  +border-radius(100px)
  padding: 12px 24px
  font-weight: 500
  white-space: nowrap
  transition: all 0.2s ease

.btn-primary
  background-color: $primary-color
  color: white
  &:visited
    color: white
  &:hover
    background-color: darken($primary-color, 10%)
    text-decoration: none
    color: white

.btn-primary-outline
  border: 1px solid $primary-color
  color: $primary-color
  font-weight: 400
  &:visited
    color: $primary-color
  &:hover
    background-color: $primary-color
    text-decoration: none
    color: white

.btn-grey
  background-color: $grey-4
  color: white
  &:visited
    color: white
  &:hover
    background-color: darken($grey-4, 10%)
    text-decoration: none
    color: white

.btn-grey-outline
  border: 1px solid $grey-4
  color: $grey-4
  font-weight: 400
  &:visited
    color: $grey-4
  &:hover
    background-color: $grey-4
    text-decoration: none
    color: white

.btn-block
  display: block
  text-align: center