header
  background-color: white
  box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.20)
  +display-flex
  align-items: center
  justify-content: space-between
  z-index: 1
  position: fixed
  width: 100%

// // MOBILE
// $mobile
//   header
//     height: 75px

// // TABLET
// $tablet
//   header
//     height: 72px

// // DESKTOP
// $desktop
//   header
//     height: 90px